<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OnTheSpot - Download Queue</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='utils.js') }}" defer></script>
    </head>
    <body>
        <div class="header">
            <ul>
                <li class="hide-on-mobile"><a href="https://github.com/justin025/onthespot/" target="_blank">OnTheSpot</a></li>
                <li><a href="/search">Search</a></li>
                <li><a class="active" href="/download_queue">Downloads</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <br>
        <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;">
            <div style="display: flex; align-items: center;">
                <p id="queue-status-message" style="margin-right: 10px;">Total Items: 0 | Progress: 0%</p>
            </div>

            <div style="display: flex; align-items: center;">
                <button onclick="clearItems()" class="hide-on-mobile">Clear Completed/Cancelled</button>
                <button onclick="cancelItems()" class="hide-on-mobile">Cancel All</button>
                <button onclick="retryItems()" class="hide-on-mobile">Retry Cancelled/Failed</button>
                <button class="hide-on-mobile" onclick="restartWorkers()" style="margin-left: 10px;">Restart Workers</button>
                <button class="download-action-button"  onclick="toggleVisibility()" class="hide-on-mobile">
                    <img id="collapse_button_icon" src="/icons/collapse_down.png" loading="lazy" style="width: 20px; height: 20px;">
                </button>
            </div>
        </div>

        <div id="toggle_visibility" style="display: none;  margin-top: 20px; margin-bottom: 15px;">
            <hr style="border: 1px solid #fff; margin-bottom: 20px;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <label for="download_queue_show_waiting" style="margin-right: 5px; margin-left: 15px;">Show Waiting:</label>
                    <input type="checkbox" id="download_queue_show_waiting" {% if config.download_queue_show_waiting %}checked{% endif %}>
                    <label for="download_queue_show_failed" style="margin-right: 5px; margin-left: 15px;">Show Failed:</label>
                    <input type="checkbox" id="download_queue_show_failed" {% if config.download_queue_show_failed %}checked{% endif %}>
                    <label for="download_queue_show_cancelled" style="margin-right: 5px; margin-left: 15px;">Show Cancelled:</label>
                    <input type="checkbox" id="download_queue_show_cancelled" {% if config.download_queue_show_cancelled %}checked{% endif %}>
                    <label for="download_queue_show_unavailable" style="margin-right: 5px; margin-left: 15px;">Show Unavailable:</label>
                    <input type="checkbox" id="download_queue_show_unavailable" {% if config.download_queue_show_unavailable %}checked{% endif %}>
                    <label for="download_queue_show_completed" style="margin-right: 5px; margin-left: 15px;">Show Completed:</label>
                    <input type="checkbox" id="download_queue_show_completed" {% if config.download_queue_show_completed %}checked{% endif %}>
                </div>
                <div style="display: flex; align-items: center;">
                    <button class="download-action-button"  onclick="updateSettings(returnFilterData())" class="hide-on-mobile">
                        <img src="/icons/save.png" loading="lazy" style="width: 20px; height: 20px;">
                    </button>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th style="display: none;">Local ID</th>
                    {% if config.show_download_thumbnails %}
                    <th>Image</th>
                    {% endif %}
                    <th>Name</th>
                    <th class="hide-on-mobile">By</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th class="hide-on-mobile">Progress</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="download-queue-table">
                <!-- Items will be added here dynamically -->
            </tbody>
        </table>

        <script>
            const config = {{ config | tojson | safe }};
            function returnFilterData() {
                const filterData = {
                    download_queue_show_waiting: document.getElementById('download_queue_show_waiting').checked,
                    download_queue_show_completed: document.getElementById('download_queue_show_completed').checked,
                    download_queue_show_cancelled: document.getElementById('download_queue_show_cancelled').checked,
                    download_queue_show_failed: document.getElementById('download_queue_show_failed').checked,
                    download_queue_show_unavailable: document.getElementById('download_queue_show_unavailable').checked,
                    }
                return filterData
                }


            function fetchItems() {
                fetch('/api/download_queue')
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        let totalCount = 0;
                        let completedCount = 0;
                        const isWaitingChecked = document.getElementById('download_queue_show_waiting').checked;
                        const isCompletedChecked = document.getElementById('download_queue_show_completed').checked;
                        const isCancelledChecked = document.getElementById('download_queue_show_cancelled').checked;
                        const isFailedChecked = document.getElementById('download_queue_show_failed').checked;
                        const isUnavailableChecked = document.getElementById('download_queue_show_unavailable').checked;
                        // Update Table
                        const tableBody = document.getElementById('download-queue-table');
                        tableBody.innerHTML = '';
                        for (const key in data) {
                            if (data.hasOwnProperty(key)) {
                                const item = data[key];
                                // Count For Progress Header
                                totalCount++;
                                if (['Downloaded', 'Already Exists', 'Cancelled'].includes(item.item_status)) {
                                    completedCount++;
                                }

                                // Check if item is filtered
                                if (!isWaitingChecked && item.item_status === 'Waiting') {
                                    continue;
                                } else if (!isCompletedChecked && (item.item_status === 'Downloaded' || item.item_status === 'Already Exists')) {
                                    continue;
                                } else if (!isCancelledChecked && item.item_status === 'Cancelled') {
                                    continue;
                                } else if (!isFailedChecked && item.item_status === 'Failed') {
                                    continue;
                                } else if (!isUnavailableChecked && item.item_status === 'Unavailable') {
                                    continue;
                                }

                                // Fill Table
                                const row = document.createElement('tr');

                                const cell0 = document.createElement('td');
                                cell0.style.display = 'none';
                                cell0.dataset.localId = item.local_id;
                                row.appendChild(cell0);

                                // Conditionally create the cell for the image if thumbnails are enabled
                                const showThumbnails = {{ config.show_download_thumbnails|tojson }};
                                const itemImage = showThumbnails && item.item_thumbnail
                                ? `<img src="${item.item_thumbnail}" loading="lazy" style="width: {{ config.thumbnail_size }}px; height: {{ config.thumbnail_size }}px;">`
                                : '';
                                if (itemImage) {
                                    const cellImage = document.createElement('td');
                                    cellImage.innerHTML = itemImage;
                                    row.appendChild(cellImage);
                                }

                                const cell1 = document.createElement('td');
                                const maxLength = 24;
                                cell1.innerHTML = item.item_name.length > maxLength ? `${item.item_name.substring(0, maxLength)}...` : item.item_name;
                                row.appendChild(cell1);

                                const cell2 = document.createElement('td');
                                cell2.className = 'hide-on-mobile';
                                cell2.textContent = capitalizeFirstLetter(item.parent_category) || 'N/A';
                                row.appendChild(cell2);

                                const serviceNameSpan = document.createElement('span');
                                serviceNameSpan.className = 'hide-on-mobile';
                                serviceNameSpan.textContent = formatServiceName(item.item_service);
                                const serviceIcon = item.item_service ? `<img src="/icons/${item.item_service}.png" loading="lazy" style="width: 20px; height: 20px; margin-right: 5px;">` : '';
                                const cell3 = document.createElement('td');
                                cell3.innerHTML = `${serviceIcon}`;
                                cell3.appendChild(serviceNameSpan);
                                row.appendChild(cell3);

                                const cell4 = document.createElement('td');
                                cell4.textContent = item.item_status || 'N/A';
                                row.appendChild(cell4);

                                const progressCell = document.createElement('td');
                                progressCell.className = 'hide-on-mobile';
                                const progressValue = item.progress || 0;
                                progressCell.innerHTML = `
                                    <div style="width: 100%; background-color: #777777; border-radius: 5px; position: relative;">
                                        <div style="font-weight: bold; text-align: center; width: ${progressValue}%; background-color: #4caf50; height: 20px; border-radius: 5px; position: relative;">
                                            ${progressValue}%
                                        </div>
                                    </div>
                                `;
                                row.appendChild(progressCell);


                                let copyButton = '';
                                let cancelButton = '';
                                let retryButton = '';
                                let downloadButton = '';
                                let deleteButton = '';
                                if (config.download_copy_btn) {
                                    copyButton = createButton('icons/link.png', 'Copy Link', `copyToClipboard('${item.item_url}')`, `${item.item_url}`);
                                }
                                if (!['Failed', 'Cancelled', 'Deleted', 'Already Exists', 'Downloaded'].includes(item.item_status)) {
                                    cancelButton = createButton('icons/stop.png', 'Stop Download', `handleCancel('${item.local_id}')`);
                                }
                                if (['Failed', 'Cancelled', 'Deleted'].includes(item.item_status)) {
                                    retryButton = createButton('icons/retry.png', 'Retry Download', `handleRetry('${item.local_id}')`);
                                }
                                if (['Downloaded', 'Already Exists'].includes(item.item_status)) {
                                    if (config.download_open_btn) {
                                        downloadButton = createButton('icons/file.png', 'Open File', `window.location.href='/api/download/${item.local_id}'`, `/api/download/${item.local_id}`);
                                    }
                                    if (config.download_delete_btn) {
                                        deleteButton = createButton('icons/trash.png', 'Delete File', `handleDelete('${item.local_id}')`);
                                    }
                                }
                                const cell5 = document.createElement('td');
                                cell5.innerHTML = `${copyButton}${cancelButton}${retryButton}${downloadButton}${deleteButton}`;
                                row.appendChild(cell5);

                                tableBody.appendChild(row);
                                }
                            }
                        // Update Progress Header
                        const percentComplete = totalCount > 0 ? ((completedCount / totalCount) * 100).toFixed(2) : 0;
                        document.getElementById('queue-status-message').textContent = `Total Items: ${completedCount}/${totalCount} | Progress: ${percentComplete}%`;
                        })
                }


            function clearItems() {
                fetch('/api/clear_items', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Clear completed successful');
                        }
                });
            }

            function cancelItems() {
                fetch('/api/cancel_items', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Cancel completed successful');
                        }
                });
            }

            function retryItems() {
                fetch('/api/retry_items', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Retry completed successful');
                        }
                });
            }

            function restartWorkers() {
                fetch('/api/restart', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Clear completed successful');
                        }
                });
            }

            function handleDelete(local_id) {
                fetch(`/api/delete/${local_id}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Delete successful');
                    } else {
                        console.error('Delete failed:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            }

            function handleCancel(local_id) {
                fetch(`/api/cancel/${local_id}`, {
                    method: 'POST',
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Cancel successful');
                    } else {
                        console.error('Cancel failed:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            }

            function handleRetry(local_id) {
                fetch(`/api/retry/${local_id}`, {
                    method: 'POST',
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Retry successful');
                    } else {
                        console.error('Retry failed:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            }

            window.onload = fetchItems;
            setInterval(fetchItems, 2000);
        </script>
    </body>
</html>
